body
{
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
	padding: 5% 5% 5% 5%;
}

@media (min-width: 250px)
{
	body
	{
		padding: 5% 5% 5% 5%;
	}

	.specsInputBar
	{
		max-width: 100%;
	}

	.specsInputBarTier
	{
		width: 80%;
	}
	.formTextSubTitleDiv,.formRadioBtnDiv
	{
		width: 30%;
		text-align: left;
	}

	.yesInputBar,.noInputBar
	{
		width: 100%;
		text-align: left;
	}
}

@media (min-width: 600px)
{
	body
	{
		padding: 5% 10% 5% 10%;
	}

	.specsInputBar
	{
		max-width: 100%;
	}

	.specsInputBarTier
	{
		width: 50%;
	}

	.formTextSubTitleDiv,.formRadioBtnDiv
	{
		width: 35%;
		text-align: right;
	}

	.yesInputBar,.noInputBar
	{
		width: 85%;
		text-align: right;
	}
}

@media (min-width: 1200px)
{
	.specsInputBar
	{
		max-width: 100%;
	}

	.specsInputBarTier
	{
		width: 30%;
	}

	.formTextSubTitleDiv,.formRadioBtnDiv
	{
		width: 40%;
		text-align: right;

	}

	.yesInputBar,.noInputBar
	{
		width: 65%;
		text-align: right;
	}

}