body
{
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
	padding: 5% 5% 5% 5%;
}

@media (min-width: 250px)
{
	body
	{
		padding: 5% 5% 5% 5%;
	}
}

@media (min-width: 1000px)
{
	body
	{
		padding: 5% 10% 5% 10%;
	}
}

